/* .uploadArea {
  justify-self: stretch;
  border: 3px dashed var(--border-color);
  border-radius: 8px;
  padding: 2rem;
  text-align: center;
  background-color: white;
  transition: all 0.3s ease;
  box-shadow: 0 2px 8px#11111180;
 } */

 .uploadArea {
  border: 3px dashed var(--border-color);
  border-radius: 8px;
  padding: 2rem;
  text-align: center;
  background-color: white;
  transition: all 0.3s ease;
  box-shadow: 0 2px 8px #11111180;
  width: 100%; /* Ensures consistent width */
  height: 100%; /* Matches the preview container */
}


.dragging {
  border-color: var(--primary-color);
  background-color: rgba(200, 230, 201, 0.3);
}

.fileInput {
  display: none;
}

.uploadContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.uploadIcon {
  width: 48px;
  height: 48px;
  color: var(--primary-color);
}

.uploadTitle {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-color);
}

.uploadDescription {
  color: var(--text-light);
  margin-bottom: 0.5rem;
}

.uploadButton {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 2px 8px #00000080;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.uploadButton:hover {
  background-image: linear-gradient(
    135deg,
    var(--primary-color) 0%,
    var(--primary-dark) 50%,
    var(--primary-dark) 100%
  );
  background-size: 300% 300%;
  background-position: 100% 100%;
  animation-name: gradient-wash;
  animation-duration: 0.6s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes gradient-wash {
  0% {
    background-position: 0% 0%;
  }
  99% {
    background-position: 100% 100%;
    background-size: 300% 300%;
  }
  100% {
    background-image: none;
    background-color: var(--primary-dark);
  }
}

.uploadButton:hover::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 80%;
  height: 80%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  transform: rotate(45deg);
  animation-name: shine-effect;
  animation-duration: 0.6s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  z-index: -1;
}

/* Animation for the shine/glow */
@keyframes shine-effect {
  0% {
    top: -100%;
    left: -100%;
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    top: 100%;
    left: 100%;
    opacity: 0; 
  }
}

.uploadButton:active {
  background-image: none !important; 
  background-color: var(--primary-dark);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  transform: translateY(1px);
  -webkit-transform: translateY(1px);
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}

.uploadButton:active::before {
  display: none;
}
.uploadHint {
  font-size: 0.875rem;
  color: var(--text-light);
  margin-top: 0.5rem;
}

